
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// Scrollbar
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    box-shadow: inset 0 0 6px #0000004d;
    border-radius: 10px;
    background-color: #5c515189;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px 1px $primary_color;
    background-color: $brand_color;
}

// Fonts
@font-face {
    font-family: 'Netflix Sans';
    src: url("@/assets/fonts/NetflixSans-Regular.woff2");
}
h1,
h2 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}
html {
    font-family: 'Neflix Sans', 'Bebas Neue';
}
// Corpo pagina
.hidden {
    display: none;
}
.alert-not-found {
    color: $brand_color;
    text-shadow: 2px 2px 4px $primary_color;
    font-style: italic;
}
.inf {
    color: $light_color;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration-line: underline;
    padding: 3px 0;
    display: block;
}

::placeholder {
    color: $brand_color;
    text-shadow: 2px 2px 3px $primary_color;
    opacity: 1;
}