// Animazioni card
.slit-in {
    animation: slit-in 0.7s ease-in both;
}       
@keyframes slit-in {
    0% { transform: translateZ(-800px) rotateY(90deg); opacity: 0; }
    54% { transform: translateZ(-160px) rotateY(87deg); opacity: 1; }
    100% { transform: translateZ(0) rotateY(0); }
}

// Animazione sfondo
.bgMove {
    background: linear-gradient(54deg, #292828, #000000);
    background-size: 400% 400%;
    animation: bgmove 8s ease infinite;
}
@keyframes bgmove {
    0% {background-position: 0% 33% }
    50% { background-position: 100% 68% }
    100% { background-position: 0% 33% }
}

// Animazione hover
.flip-in {
    animation: flip-in 0.7s linear both;
}
@keyframes flip-in {
    0% { transform: rotateY(80deg); opacity: 0; }
    100% { transform: rotateY(0); opacity: 1; }
}

// Animazione Bounce titoli
.bounce-in {
    animation: bounce-in 1.1s both;
}
@keyframes bounce-in {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}